<div class="container">
    <h3>Общая статистика</h3>
    <ul>
        <li>Первое свойсво</li>
        <li>Второе свойсво</li>
        <li>Третье свойсво</li>
        <li>Четвертое свойсво</li>
    </ul>
</div>
