@model List<LernEnglishWords.Models.WordFilter>
    
    @foreach (var wf in Model)
    {
        string str = "http://placehold.it/180?text=";
        foreach (var c in wf.PartOfSpeech)
        {
            str = str + c.Name;
        }
        <div class="col-md-2">
            @using (Html.BeginForm("Application", "Main", FormMethod.Post))
            {
                @Html.Hidden("WordFilterId", wf.Id)
                
                <input type="image" src="@str" alt="Ok" />
            }
        </div>
    }