@model IEnumerable<LernEnglishWords.Models.Blocks>

<div id="searchresults">
    <h3>Все блоки пользователя: @User.Identity.Name</h3>
    <ul>
        @foreach (var item in Model)
        {
            
            <li>@item.EnglishWords.Word ---- @item.NamberBlock</li>
        }
    </ul>
</div>

